

:root {
    --body-color: #fff;
    --card-bg: #fff;
    --h5-color:#898787;
    --btn-color:#000;

}
.dark-mode {
    --body-color: #2a2a2a;
    --card-bg: #343435;
    --h5-color:rgba(255, 255, 255, 0.793);
    --btn-color:#fff;
}
@font-face {
    font-family: 'Speda';
    src: url("font/Speda.ttf");
  }  
  
  @font-face {
   font-family: 'K24KurdishLight-Light';
    src: url('font/k24/K24KurdishLight-Light.woff');
  }



 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box; 
     font-family:'Speda';
 }

 body {
 
     background-color: var(--body-color);
  
 }



 img {
     width: 100px;

 }
 .btn1
 {
   color: var(--btn-color);
   font-size: 20px; 
   text-decoration: none; 
   cursor: pointer;
   font-family: 'Speda';
   font-weight: 500;
   text-transform: capitalize;  
   border-radius: 20px;
   padding: 5px ;  
   background-color: transparent;
   border: none;
 
 }
 .btn1:hover
 {
   color: #BF2929;
 }
 .fass {
     cursor: pointer;
     position: absolute;
     top: 10px;
     right: 10px;
     color: var(--heading-color); 
     width: 40px;
     height: 40px;

 }
 
.login-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    /* color: BF2929; */
}


form{
    width: 300px;
}


.login-content .input-div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
    margin-top: 10px;
}

.i{
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i{
    transition: .3s;
}

.input-div > div{
    position: relative;
    height: 45px;
}

.input-div > div > h5{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--h5-color);
    font-size: 18px;
    transition: .3s;
}

.input-div:before, .input-div:after{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
     background-color: #BF2929;  
    transition: .4s;
}

.input-div:before{
    right: 50%;
}

.input-div:after{
    left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
    width: 50%;
}

.input-div.focus > div > h5{
    top: -5px;
    font-size: 15px;
}

.input-div.focus > .i > i{
    color: rgb(194, 71, 71);  
}

.input-div > div > input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: var(--h5-color);
    font-family: 'Speda';
}

.input-div.pass{
    margin-bottom: 4px;
}

a{
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}

a:hover{
     color:#BF2929;
}

.btn{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
 background-color: #BF2929;  
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Speda';
    text-transform: uppercase;
    margin: 2rem 0;
    cursor: pointer;
    transition: .5s;
}
.btn:hover{
    background-position: right; 
    background-color: #a31c1c;  
}


@media screen and (max-width: 1050px){
    .container{
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px){
    form{
        width: 290px;
    }

    .login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
    }

    
}

@media screen and (max-width: 900px){
    .container{
        grid-template-columns: 1fr;
    }



    .login-content{
        justify-content: center;
    }
}
.wrapper {
    max-width: 395px;
    min-height: 480px;
    margin: 55px auto;
    padding: 20px 40px 40px 40px;
    background-color: var(--card-bg);
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.wrapper  h2
{
    color: rgb(194, 71, 71);  
    text-transform:uppercase;
    font-size: 25px;

}

.social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f8f9fa;
    position: relative;
    text-align: center; 
    margin-top: 20px;
    transition: .3s background ease;
    color: #0d1e2d;
  }
  
  .social a span {
    display: inline-block;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .social a:hover {
    color: #fff;
    background: #BF2929; 
  }
  .s 
  {
      color: var(--h5-color);  
      font-weight: 500;
      text-transform: capitalize;
  }

