/*------------------------------------------------------
# General
--------------------------------------------------------------*/
:root 
{
  --primary-color:#212121;
  --secondary-color:#fff;  
--actor-color:rgba(0, 0, 0, 0.358); 
--actor-colorr:rgba(0, 0, 0, 0.358); 
--actor-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
--dis-color:rgba(2, 2, 2, 0.688);
--aboutt:#d66262; 
--card:#fff;
--h1-color:rgba(55, 55, 55, 0.777);
}
.dark-mode 
{
  --h1-color:rgba(224, 218, 218, 0.777);
  --primary-color:#edf2f2;
  --secondary-color:#212121;  
  --actor-color:#292a2a;  
  --actor-colorr:#edf2f2;  
  --actor-shadow:none;
--dis-color:#edf2f2;
--aboutt:#BF2929;
--card:#353434;
}

@font-face {
  font-family: 'Speda';
  src: url("font/Speda.ttf");
}  

@font-face {
 font-family: 'K24KurdishLight-Light';
  src: url('font/k24/K24KurdishLight-Light.woff');
}
  .changeimg {

    content:url("./img/logo.jpg");
    }
    .chngmode
    {
      
    content:url("./img/moon.png");
    }

html {
  overflow-x: hidden;  
  
}
body 
{
  background-color: var(--secondary-color); 
  transition: 0.5s ease-in-out;
  direction: rtl;
}
.d
{
margin-top:130px;
} 

.w 
{
color: var(--aboutt);
 text-transform: capitalize; font-weight: 550;
font-size: 30px;
float: right;
} 
.dis 
{
/* color: rgba(2, 2, 2, 0.459);   */
color: var(--dis-color);
font-size: 18px;
float: right;
white-space: pre-wrap;
direction: rtl;
text-align:start;
} 
.borderr
{
  box-shadow: 1px 2px 20px rgb(231, 231, 179); 
  padding: 10px 0px 10px 0px;
  border-radius: 20px;
}
body {
  font-family: 'Speda';
  color: #9fa1a4;
  line-height: 1.5;
}

.container {
  z-index: 2;
  position: relative;
}
.site-section {
  padding: 7rem 0;
}

/* Sticky Wrapper */
.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
}

.sticky-wrapper .site-navbar {
  transition: .3s all ease;
}

.sticky-wrapper .site-navbar .site-menu-toggle {
  color: #fff;
}

.sticky-wrapper .site-navbar .site-logo a {
  color: #BF2929; 
  font-weight: 600;
  font-size: 20px;
  font-family: 'Speda';
}

.sticky-wrapper .site-navbar .site-menu > li > a {
  color: var(--primary-color) !important;
  font-family: 'Speda';
}

.sticky-wrapper .site-navbar .site-menu > li > a:hover,
.sticky-wrapper .site-navbar .site-menu > li > a.active {
  color: #BF2929 !important;
  font-family: 'Speda';
}


.sticky-wrapper.is-sticky .burger:before,
.sticky-wrapper.is-sticky .burger span,
.sticky-wrapper.is-sticky .burger:after {
  background: var(--primary-color);
  transition: .0s all ease;
}

.sticky-wrapper.is-sticky .site-navbar {
  background: var(--secondary-color);
  border-bottom: 1px solid transparent;
  /* box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2); */
   box-shadow: 4px 0 20px -5px var(--actor-color);
}

.sticky-wrapper.is-sticky .site-navbar .site-logo a {
  color: rgb(196, 23, 17) !important; 

}

.sticky-wrapper.is-sticky .site-navbar .site-menu > li > a {
  color: var(--primary-color) !important; 
  font-family: 'Speda';
  font-weight: bold;
}

.sticky-wrapper.is-sticky .site-navbar .site-menu > li > a:hover,
.sticky-wrapper.is-sticky .site-navbar .site-menu > li > a.active {
  color: #BF2929 !important;
  font-family: 'Speda'; 
  font-weight: bold;
}

.sticky-wrapper.is-sticky .site-navbar .site-menu > li.active a {
  color: #BF2929 !important;
  font-family: 'Speda';
  font-weight: bold;
}

.sticky-wrapper .shrink {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/*--------------------------------------------------------------
# Header Section
--------------------------------------------------------------*/

.hero-section {

  position: relative;
}


.hero-section,
.hero-section > .container > .row {
  height: 100vh;
  min-height: 750px;
}


.hero-section.inner-page {
  height: 60vh;
  min-height: 0;
}





/*--------------------------------------------------------------
# Nav
--------------------------------------------------------------*/

.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  top: 0;
  width: 100%;
}

.site-navbar .site-logo {
  position: relative;
  font-size: 24px;
}

.site-navbar .site-logo a {
  color: #fff;
}

.site-navbar .site-logo a:hover {
  text-decoration: none;
}

.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
}

.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
  font-family: 'Speda';
}

.site-navbar .site-navigation .site-menu > li > a {
  padding: 30px 20px;
  color: #000000; 
  font-size: 18px;
  font-weight: bold;
  font-family:'Speda';
  display: inline-block;
    text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu > li.active > a {
  color: #BF2929!important; 
  font-size: 20px;  
  font-weight: bold;
  font-family: 'Speda';

}
.site-mobile-menu  .btn1
{
  direction: rtl; 
}
.site-mobile-menu {
  width: 300px;
  position: fixed;
  left: 0;
  z-index: 2000;
  direction: ltr;
  padding-top: 20px;
  background: var(--secondary-color);
  height: calc(100vh);
  -webkit-transform: translateY(110%);
  transform: translateX(-110%);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  transform: translateX(0%); 
} 

.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: left;
  margin-top: 8px; 
  color: rgb(183, 38, 38);
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px; 
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px); 
  text-align: center;
  padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: var(--primary-color); 
   font-family: 'Speda'; 
   
  font-weight: 500;
}

.site-mobile-menu .site-nav-wrap a:hover {
  color: #BF2929 !important; 
}

.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block; 
  color: #000;
}

.site-mobile-menu .site-nav-wrap li.active > a {
  color: #BF2929 !important; 
border-radius: 20px; 
text-align: center;
font-weight: bold;
font-family: 'Speda';
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icofont";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  transition: .3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 20px;
}

.site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 16px;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}

/* Burger */

.burger {
  width: 28px;
  height: 32px;
  cursor: pointer;
  position: relative;
  z-index: 99;
  float: right; 

}

.burger:before,
.burger span,
.burger:after {
  width: 100%;
  height: 2px;
  display: block;
  background: var(--primary-color);
  border-radius: 2px;
  position: absolute;
  opacity: 1;
}

.burger:before,
.burger:after {
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  content: "";
}

.burger:before {
  top: 4px;
}

.burger span {
  top: 15px;
}

.burger:after {
  top: 26px;
}
@media all and (max-width:1024px)
{  .d
{
margin-top: 35px;
}

}

/* Hover */

.burger:hover:before {
  top: 7px;
}

.burger:hover:after {
  top: 23px;
}

/* Click */

.burger.active span {
  opacity: 0;
}

.burger.active:before,
.burger.active:after {
  top: 40%;
}

.burger.active:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
  /*for IE*/
}

.burger.active:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-5);
  /*for IE*/
}

.burger:focus {
  outline: none;
}

.social a {
  display: inline-block;
  width: 50px;
  height: 50px; 
  font-size: 20px;
  border-radius: 50%;
  background: #f8f9fa;
  position: relative;
  text-align: center;
  transition: .3s background ease;
  color: #BF2929; 

}
.social a:hover
{
  background-color: #BF2929;
}
p.social
{
   direction:rtl; text-align:start; 

   
}
.social a span {
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.social a:hover {
  color: #fff;
  background: rgb(243, 76, 76);
}
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 500px; 

  }
  #largeModal .active >img{
    transform:scale(1.3);
    -webkit-transform: scale(1.3);
    -webkit-transition: -webkit-transform 4s ease-out;
    -moz-transition: -moz-transform 4s ease-out;
    transition: transform 4s ease-out;
  }

  #demo .active > img{
    transform:scale(1.2);
    -webkit-transform: scale(1.2);
    -webkit-transition: -webkit-transform 10s ease-out;
    -moz-transition: -moz-transform 10s ease-out;
    transition: transform 10s ease-out;
  }
  @media screen and (max-width:1024px) {
    .carousel-inner img 
    {
      height: 100%;
    }

    
   .carousel-control-prev-icon {

width: 12px;
height: 12px;
}

.carousel-control-next-icon {

width: 12px;
height: 12px;
}

  }
  .carousel-indicators li {
      width: 12px;
      height: 12px;
      margin-left: 5px;
      margin-right: 5px;
      background-color: #a4332f;
      border-radius: 50%;
  }
  .carousel-item {
     
    transition: transform 0.6s ease-in-out;
  } 

  .slidee 
  {
    border-radius:25px;
    box-shadow: 4px 0 20px -5px var(--actor-color); 
  
  }
  
  .main {

    display: flex;
    justify-content: space-between;  
    
  }
  .box
  {
   border-radius:20px; 
   box-shadow: var(--actor-shadow);
   background-color:	var(--card); 

  } 
.detail ,.gender 
{
  color: var(--primary-color);
}
.modalcolor
{
  background-color: var(--card);
}
  .main h2 
  {
   text-transform: capitalize; color: var(--actor-colorr); font-weight: 600;
   font-family: 'Speda';
  }
  .pro ,.proo
  { 
    width:110px;
  border-radius: 10%; margin-top: 10px;
  
  }  

   h1 
  {
    color: var(--h1-color); 
    font-family: 'Speda';
  
  } 
  @media (min-width:1024px) and(max-width:1280px){
    input[type='checkbox']{
    width: 25px !important;
    height: 25px !important;
    /* margin: 5px; */
    position: absolute;
    top: 6px;
    left: 230px;
  
  }}
  @media (min-width:1280px){
    input[type='checkbox']{
    width: 20px !important;
    height: 20px !important;
    /* margin: 5px; */
    position: absolute;
    top: 15px;
    left: 230px;
  
  }}
  @media (max-width:1024px) {

    .pro 
    {
      width:90px;
    margin-top: 10px;
      margin-left: 10px;
    }
    .proo
    {
     width:90px;
   margin-top: 10px;
     margin-left:10px;
    }
    h1 
    {
      font-size: 30px;
    }
 .view
 {
  padding: 10px ; 
font-family: 'Speda';
     font-size: 10px;
     margin-bottom: 30px;
 } 

  }
  .btn1
{
  color: var(--primary-color);
  font-size: 20px; 
  text-decoration: none; 
  cursor: pointer;
  font-family: 'Speda';
  font-weight: 500;
  text-transform: capitalize;  
  border-radius: 20px;
  padding: 5px ;  
  background-color: var(--secondary-color);
  border: none;

}
.btn1:hover
{
  color: #BF2929;
}
  .btn
  {
     background-color: #BF2929; 
     padding: 10px 60px ; 
     border-radius: 40px;  
     font-size: 18px;
     color: #fff;
     cursor: pointer; 
     /* transition: transform .2s;  */
  }  
  .btn:hover 
  {
  
    background-color: #951515;  
    color: #fff;
    /* transform: scale(1.1); */
  }
  .view 
  {
     background-color: #BF2929; 
     padding: 10px 45px ; 
     border-radius: 40px;  
     font-size: 18px;
     color: #fff;
     cursor: pointer; 
     /* transition: transform .2s;  */
  }  
  .view:hover 
  {
  
    background-color: #951515; 
    /* transform: scale(1.1); */
  }
  table, th, td, tr {
    border: none !important;
} 
.tdd 
{
  color: #BF2929;
  font-family:sans-serif;
}
table, tr, td, input 
{
outline: none;
border-radius: 20px;
border: 1px solid #BF2929;
padding: 2px 5px 2px 10px;

} 
.selectt 
{
  border-radius: 20px; padding:5px 45px; border: 1px solid #BF2929;
}
.tddd 
{outline: none;
  border-radius: 20px;
  border: 1px solid #BF2929; 
width: 120px;

}
input[type="radio"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width:18px;
  height: 18px;
  /* padding: 6px; */

  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid #bbbbbb;
  background-color: #e7e6e7;
  border-radius: 50%;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
  background-color: #BF2929;
}
input[type='checkbox']{
  width: 25px !important;
  height: 25px !important;
  margin: 5px;

  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none;
  font-size: 1.3em;
  text-align: center;
  line-height: 1em;
  background: var(--h1-color) ;
  border: 2px solid var(--h1-color);
  border-radius: 16px; 
  cursor: pointer;
} 

.search 
{
  cursor: pointer;
}


.check 
{
  float: right; border-radius:20px; 
}
.check input:checked  {
  background: linear-gradient(-45deg, #BF2929 20%, #BF2929 100%);
}
@media all and (min-width:2000px) {
  .actorlist
  {
    margin-top: -750px;
  }}

  @media all and (min-width:500px)and (max-width:768px) {
    .actorlist
    {
      margin-top: -250px;
    }}
    @media all and (min-width:800px)and (max-width:1000px) {
      .actorlist
      {
        margin-top: -450px;
      }}
      @media all and (min-width:1024px)and (max-width:1280px) {
        .actorlist
        {
          margin-top: -120px;
        }}
  @media all and (max-width:450px) {
    .actorlist
    {
      margin-top: -400px;
    }
   .selectt 
{
  border-radius: 20px; padding:5px 35px; border: 1px solid #BF2929;
}
.tddd 
{outline: none;
  border-radius: 20px;
  border: 1px solid #BF2929; 
width: 90px; 

}
  } 
@media (min-width:600px) {
    .tablee{
      position: relative; right: 60px;
    } 
  }

  @media (max-width:1024px) {
    .main h2 
    {
     text-transform: capitalize; color: var(--actor-colorr); font-weight: 600; 
     font-size: 18px;
     margin-top: 15px;  
     
    } 
    .search 
    {
      width: 40px;
      height: 40px;
    }
  }
  @media (max-width:700px) {
    .main h2 
    {
     text-transform: capitalize; color: var(--actor-colorr); font-weight: 600; 
     font-size: 18px;
     margin-top: 15px;  
     width: 40%; 
    } 
    .search 
    {
      width: 40px;
      height: 40px;
      margin-left: 25px;
    }
  }
  @media (max-width:350px) {
    .view{
      padding:8px 25px;
    } 
    input[type='checkbox']{
      width: 12px !important;
      height: 12px !important;
      /* margin: 5px; */
      position: absolute;
      top: 15px;
      right: 15px;
    } 
  }